<template>
  <q-page padding>
    <div v-if="apiKey.length > 0" class="row justify-center">
      <div class="col-10">
        <div class="q-px-sm q-mb-sm text-caption text-color-caption">
          MANAGE API KEYS
        </div>
      </div>
    </div>
    <div v-if="apiKeyError" class="row justify-center">
      {{ apiKeyError }}
    </div>
    <div v-else class="row justify-center">
      <div v-for="key in apiKey" :key="key.id" class="col-10">
        <ApiKeyCard :api-key="key" class="q-mb-md" />
      </div>
    </div>

    <div class="row justify-center">
      <div class="col-10">
        <div class="q-px-sm q-mb-sm text-caption text-color-caption">
          CREATE NEW API KEY
        </div>
      </div>
    </div>
    <div v-if="user" class="row justify-center">
      <div class="col-10">
        <CreateApiKeyCard :user-id="user.id" />
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapGetters } from "vuex";
import { makeFindMixin } from "feathers-vuex";

import ApiKeyCard from "components/ApiKeyCard.vue";
import CreateApiKeyCard from "components/CreateApiKeyCard.vue";

export default {
  name: "PageApiKeys",
  components: { ApiKeyCard, CreateApiKeyCard },
  mixins: [makeFindMixin({ service: "api-key" })],
  computed: {
    ...mapGetters("auth", ["user"]),
    apiKeyParams() {
      return {
        query: {
          userId: this.user.id
        }
      };
    }
  }
};
</script>

<style>
</style>