<template>
  <q-page padding>
    <NoteGrid
      :filters="[{ label: 'Archive', icon: 'o_archive' }]"
      :grid-display="settings && settings.displayGrid"
      :query="{ archived: true, userId: userId, trashed: 0, $limit: 50 }"
      :user-id="userId"
    />
  </q-page>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";

import NoteGrid from "components/NoteGrid.vue";
import useUser from "composables/use-user";

export default defineComponent({
  name: "PageArchive",
  components: { NoteGrid },
  setup() {
    const { settings, userId } = useUser();
    return { settings, userId };
  }
});
</script>

<style scoped></style>
