<template>
  <q-page padding>
    <div v-if="$q.screen.gt.xs" class="row justify-center">
      <div class="col-6">
        <NoteCard
          class="full-width"
          :note="note"
          :user-id="userId"
          @close="handleClose"
        />
      </div>
    </div>
    <NoteGrid
      :filters="[
        { label: 'Starred', filter: n => n.starred },
        { label: 'Other', filter: n => !n.starred }
      ]"
      :grid-display="settings && settings.displayGrid"
      :query="{
        archived: false,
        id: { $ne: note.id },
        userId: userId,
        trashed: 0,
        $limit: 50
      }"
      :user-id="userId"
    />
  </q-page>
</template>

<script lang="ts">
import { defineComponent, ref, watchEffect } from "@vue/composition-api";
import Vue from "vue";

import NoteCard from "components/NoteCard.vue";
import NoteGrid from "components/NoteGrid.vue";
import useUser from "composables/use-user";

const { Note } = Vue.$FeathersVuex.api;

export default defineComponent({
  components: { NoteCard, NoteGrid },
  name: "PageIndex",
  setup() {
    const { settings, user, userId } = useUser();

    const note = ref(new Note({}, { commit: false }));

    function handleClose() {
      note.value = new Note({ userId: userId.value }, { commit: false });
    }
    
    watchEffect(
      () => {
        if (userId.value && note.value.userId !== userId.value) {
          note.value = new Note({ userId: userId.value }, { commit: false });
        }        
      }
    );

    return {
      handleClose,
      note,
      // useUser
      settings,
      user,
      userId
    };
  }
});
</script>

<style scoped></style>
