<template>
  <q-page padding>
    <div class="row">
      <div
        v-if="$q.screen.gt.md"
        class="col-xs-12 col-sm-6 col-md-4 col-lg-3 q-pa-sm"
      >
        <NoteCardSkeleton />
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 q-pa-sm">
        <LoginCard />
      </div>
      <div
        v-if="$q.screen.gt.sm"
        class="col-xs-12 col-sm-6 col-md-4 col-lg-3 q-pa-sm"
      >
        <NoteCardSkeleton />
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 q-pa-sm">
        <SignUpCard />
      </div>
      <div
        v-for="i in skeletonsAfter"
        :key="i"
        class="col-xs-12 col-sm-6 col-md-4 col-lg-3 q-pa-sm"
      >
        <NoteCardSkeleton />
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import { computed, defineComponent } from "@vue/composition-api";
import { Screen } from "quasar";

import LoginCard from "components/LoginCard.vue";
import SignUpCard from "components/SignUpCard.vue";
import NoteCardSkeleton from "components/NoteCardSkeleton.vue";

const skeletonsCount = {
  xs: 1,
  sm: 2,
  md: 3,
  lg: 4,
  xl: 4
};

export default defineComponent({
  name: "PageLogin",
  components: { LoginCard, NoteCardSkeleton, SignUpCard },
  setup() {
    return {
      skeletonsAfter: computed(() => skeletonsCount[Screen.name])
    };
  }
});
</script>

<style scoped></style>
