<template>
  <div class="q-px-lg q-pb-md text-color-body">
    <q-timeline :layout="$q.screen.gt.xs ? 'comfortable' : 'dense'">
      <template v-for="item in timeline">
        <q-timeline-entry
          v-if="item.type === 'header'"
          :key="item.key"
          heading
          tag="h4"
        >
          {{ item.title }}
        </q-timeline-entry>
        <q-timeline-entry
          v-else
          :key="item.key"
          :color="`keep-${item.note.color}`"
          :icon="
            item.note.trashed
              ? 'o_delete'
              : item.note.archived
              ? 'o_archive'
              : item.note.starred
              ? 'o_star'
              : ''
          "
          :subtitle="item.note.createdAt.toLocaleString()"
          :title="item.note.title"
        >
          <div
            :class="
              `bg-keep-${item.note.color} shadow-6 q-px-md q-py-sm rounded-borders`
            "
          >
            <div style="white-space: pre-wrap">{{ item.note.text }}</div>
          </div>
        </q-timeline-entry>
      </template>
    </q-timeline>
  </div>
</template>

<script>
import { makeFindMixin } from "feathers-vuex";

export default {
  name: "PageTimeline",
  mixins: [makeFindMixin({ service: "notes" })],
  computed: {
    timeline() {
      const headers = new Set();
      const items = [];
      for (const note of this.notes) {
        const { createdAt } = note;
        const header = createdAt.toLocaleString(undefined, {
          month: "long",
          year: "numeric"
        });
        if (!headers.has(header)) {
          headers.add(header);
          items.push({ type: "header", title: header, key: header });
        }
        items.push({ type: "note", note: note, key: note.id });
      }
      return items;
    },
    notesParams() {
      return {
        query: {
          checkboxes: false,
          $sort: { createdAt: -1 }
        }
      };
    }
  }
};
</script>

<style></style>
