<template>
  <q-page padding>
    <div class="row justify-center items-center">
      <div class="col-auto text-italic text-color-caption">
        Notes in Trash are deleted after 7 days.
      </div>
      <div class="col-auto">
        <q-btn
          flat
          no-caps
          label="Empty now"
          color="warning"
          class="q-ml-md"
          @click="emptyTrash"
        />
      </div>
    </div>
    <NoteGrid
      :filters="[{ label: 'Trash', icon: 'o_delete' }]"
      :grid-display="settings.displayGrid"
      :query="{ userId: userId, trashed: { $gt: 0 }, $limit: 50 }"
      :user-id="userId"
    />
  </q-page>
</template>

<script>
import { Dialog } from "quasar";
import Vue from "vue";
import { mapGetters } from "vuex";

import NoteGrid from "components/NoteGrid.vue";
import useNotify from "composables/use-notify";

const { Note } = Vue.$FeathersVuex.api;

export default {
  name: "PageTrash",
  components: { NoteGrid },
  computed: {
    ...mapGetters("auth", ["user"]),
    settings() {
      if (this.user && this.user.settings) {
        return this.user.settings;
      }
      return {};
    },
    userId() {
      if (this.user) {
        return this.user.id;
      }
      return 0;
    }
  },
  setup() {
    const notify = useNotify();

    function emptyTrash() {
      const paginated = Note.findInStore({ query: { trashed: { $gt: 0 } } });
      const notes = paginated.data;

      if (notes.length === 0) {
        notify.action("Trash is already empty");
        return;
      }

      const countStr = `${notes.length} note${notes.length === 1 ? "" : "s"}`;
      Dialog.create({
        message: `Delete ${countStr} forever?`,
        cancel: true
      }).onOk(async () => {
        await Promise.all(notes.map(n => n.remove()));
        notify.action(`Deleted ${countStr} from trash`);
      });
    }

    return { emptyTrash };
  }
};
</script>

<style scoped></style>
