<template>
  <q-field
    label="Permissions"
    :label-color="accentColor"
    stack-label
    borderless
    :readonly="readonly"
    hide-bottom-space
  >
    <template v-slot:control>
      <q-field
        v-for="group in groups"
        :key="group.label"
        stack-label
        :readonly="readonly"
        :label="group.label"
        :label-color="accentColor"
        :color="accentColor"
        class="full-width q-mt-sm"
        dense
        outlined
      >
        <template v-slot:control>
          <q-option-group
            v-model="scope[group.key]"
            :disable="readonly"
            :options="coloredOptions"
            type="checkbox"
            inline
          />
        </template>
      </q-field>
    </template>
  </q-field>
</template>

<script>
export default {
  name: "ApiKeyScope",
  props: {
    groups: {
      type: Array,
      default() {
        return [
          { label: "Notes", key: "notes" },
          { label: "List Entries", key: "list-entries" }
        ];
      }
    },
    options: {
      type: Array,
      default() {
        return [
          { label: "find", value: "find" },
          { label: "get", value: "get" },
          { label: "create", value: "create" },
          { label: "update", value: "update" },
          { label: "patch", value: "patch" },
          { label: "remove", value: "remove" }
        ];
      }
    },
    readonly: {
      type: Boolean,
      default: false
    },
    scope: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  data() {
    return {};
  },
  computed: {
    accentColor() {
      return this.$q.dark.isActive ? "color-caption" : "primary";
    },
    coloredOptions() {
      if (!this.$q.dark.isActive) {
        return this.options;
      }
      return this.options.map(o =>
        Object.assign({}, o, { color: "keep-gray" })
      );
    }
  }
};
</script>

<style>
</style>