<template>
  <q-list>
    <component
      :is="preview ? 'div' : 'q-infinite-scroll'"
      :disable="listEntriesDoneLoading"
      :offset="300"
      :scroll-target="scrollTarget"
      @load="loadMore"
    >
      <ChecklistItem
        v-for="(item, i) in listEntriesTodo"
        ref="itemsTodo"
        :key="item.__id || item.id"
        :dense="dense"
        :item="item"
        :preview="preview"
        :readonly="readonly"
        @keydown.delete="handleDelete($event, item, i)"
        @keydown.down="handleDown($event, item, i)"
        @keydown.enter="handleEnter($event, item, i)"
        @keydown.up="handleUp($event, item, i)"
      />
      <ChecklistItem
        v-if="!preview"
        ref="placeholder"
        placeholder
        icon="o_add"
        :dense="dense"
        :readonly="readonly"
        @input="addNewItem"
        @keydown.delete="handleDelete($event, null, -1)"
        @keydown.down="handleDown($event, null, -1)"
        @keydown.enter="handleEnter($event, null, -1)"
        @keydown.up="handleUp($event, null, -1)"
      />
      <!-- Intentionally using array.length here because
      listEntriesDoneCount will be incorrect until we
      load at least 1 done item -->
      <template v-if="listEntriesDone.length > 0">
        <div class="full-width q-px-md q-py-sm">
          <q-separator />
        </div>
        <component
          :is="preview ? 'div' : 'q-expansion-item'"
          v-model="showDone"
          switch-toggle-side
          expand-icon="o_chevron_right"
          expanded-icon="o_expand_more"
          header-class="text-color-caption"
          :label="
            `${listEntriesDoneCount} Completed item${
              listEntriesDoneCount === 1 ? '' : 's'
            }`
          "
        >
          <q-list>
            <ChecklistItem
              v-for="(item, i) in listEntriesDone"
              ref="itemsDone"
              :key="item.__id || item.id"
              icon="o_check_box"
              :dense="dense"
              :item="item"
              :preview="preview"
              :readonly="readonly"
              @keydown.delete="handleDelete($event, item, i)"
              @keydown.down="handleDown($event, item, i)"
              @keydown.enter="handleEnter($event, item, i)"
              @keydown.up="handleUp($event, item, i)"
            />
          </q-list>
        </component>
      </template>
      <div
        v-if="preview && listEntriesTotal > itemsPerPage"
        class="q-pl-md q-pt-sm text-color-caption"
      >
        ({{ listEntriesTotal - itemsPerPage }} more hidden)
      </div>
      <template v-slot:loading>
        <div class="row justify-center q-my-md">
          <q-spinner-dots color="color-caption" size="40px" />
        </div>
      </template>
    </component>
  </q-list>
</template>

<script>
import { computed, reactive, toRefs } from "@vue/composition-api";
import Vue from "vue";

import ChecklistItem from "components/ChecklistItem";
import { useList, useUser } from "composables/.";

const { ListEntry, Note } = Vue.$FeathersVuex.api;

export default {
  components: { ChecklistItem },
  props: {
    dense: {
      type: Boolean,
      default: false
    },
    note: {
      required: true,
      type: Note
    },
    preview: {
      type: Boolean,
      default() {
        return false;
      }
    },
    readonly: {
      type: Boolean,
      default: false
    },
    scrollTarget: {
      type: [String, HTMLElement],
      default: undefined
    }
  },
  methods: {
    addNewItem(text, done = false, focusPosition = -1) {
      const item = new ListEntry({
        done,
        text,
        noteId: this.note.id,
        userId: this.userId
      });
      item.saveDebounce();
      // Focus new item after render
      this.$nextTick(() => {
        const ref = done ? this.$refs.itemsDone : this.$refs.itemsTodo;
        ref[ref.length - 1].focusInput(focusPosition);
      });
    },
    combineItems(keep, remove, ref, keepKeepItem = true) {
      const selectionStart = keep.text.length;
      const text = keep.text + remove.text;
      if (keepKeepItem) {
        remove.remove({ eager: true });
        keep.setProps({ text });
      } else {
        keep.remove({ eager: true });
        remove.setProps({ text });
      }
      this.$nextTick(() => ref.focusInput(selectionStart));
    },
    focusPlaceholder() {
      if (this.$refs.placeholder) {
        this.$refs.placeholder.focusInput(0);
      }
    },
    handleDelete(e, item, index) {
      // Shortcut for placeholder
      if (item === null) {
        e.preventDefault();
        if (e.keyCode === 8) {
          this.$refs.itemsTodo[this.listEntriesTodo.length - 1].focusInput(-1);
        }
        return;
      }

      // Normal handling
      const items = item.done ? this.listEntriesDone : this.listEntriesTodo;
      const ref = item.done ? this.$refs.itemsDone : this.$refs.itemsTodo;
      const el = ref[index].$refs.input.$el.control;
      const start = el.selectionStart;
      const stop = el.selectionEnd;

      // No special handling when user has highlighted text
      if (stop > start) {
        return;
      }

      // Handle delete
      if (e.keyCode === 46) {
        // Only special handling at the end of text on NOT the last item
        if (stop === item.text.length && index < items.length - 1) {
          e.preventDefault();
          this.combineItems(item, items[index + 1], ref[index]);
        }
        return;
      }

      // Handle backspace
      if (e.keyCode === 8) {
        // Only special handling at the beginning of text on NOT the first item
        if (start === 0 && index > 0) {
          e.preventDefault();
          this.combineItems(items[index - 1], item, ref[index], false);
        }
      }
    },
    handleDown(e, item, index) {
      // Shortcut for placeholder
      if (item === null) {
        e.preventDefault();
        if (this.listEntriesDone.length > 0) {
          this.showDone = true;
          this.$nextTick(() => this.$refs.itemsDone[0].focusInput(0));
        }
        return;
      }

      // Normal handling
      const items = item.done ? this.listEntriesDone : this.listEntriesTodo;
      const ref = item.done ? this.$refs.itemsDone : this.$refs.itemsTodo;
      const el = ref[index].$refs.input.$el.control;
      const start = el.selectionStart;
      const stop = el.selectionEnd;

      // No special handling when user has highlighted text
      if (stop > start) {
        return;
      }

      // Only special handling when cursor is at the end of the line
      if (start === item.text.length) {
        e.preventDefault();
        // Bump cursor to next
        if (index < items.length - 1) {
          ref[index + 1].focusInput(0);
        } else if (!item.done) {
          // Move cursor from bottom of todo list to placeholder
          this.focusPlaceholder();
        }
      }
    },
    handleEnter(e, item, index) {
      // Prevent default behavior on all cases
      e.preventDefault();

      // Do nothing on placeholder
      if (item === null) {
        return;
      }

      // Split string at selection start/end
      const ref = item.done ? this.$refs.itemsDone : this.$refs.itemsTodo;
      const el = ref[index].$refs.input.$el.control;
      const t0 = item.text.slice(0, el.selectionStart);
      const t1 = item.text.slice(el.selectionEnd);

      // Update this item if necessary
      if (item.text !== t0) {
        item.setProps({ text: t0 });
      }

      // Focus on the placeholder if new text is blank and this item is not done
      if (
        !item.done &&
        index === this.listEntriesTodo.length - 1 &&
        t1 === ""
      ) {
        this.focusPlaceholder();
      } else {
        // Add a new item
        this.addNewItem(t1, item.done, 0);
      }
    },
    handleUp(e, item, index) {
      // Shortcut for placeholder
      if (item === null) {
        e.preventDefault();
        if (this.listEntriesTodo.length > 0) {
          this.$refs.itemsTodo[this.listEntriesTodo.length - 1].focusInput(0);
        }
        return;
      }

      // Normal handling
      const ref = item.done ? this.$refs.itemsDone : this.$refs.itemsTodo;
      const el = ref[index].$refs.input.$el.control;
      const start = el.selectionStart;
      const stop = el.selectionEnd;

      // No special handling when user has highlighted text
      if (stop > start) {
        return;
      }

      // Only special handling when cursor is at the beginning of the line
      if (start === 0) {
        e.preventDefault();
        // Bump cursor to previous
        if (index > 0) {
          ref[index - 1].focusInput(0);
        } else if (item.done) {
          // Move cursor from top of done list to placeholder
          this.focusPlaceholder();
        }
      }
    }
  },
  setup(props) {
    const { settings, userId } = useUser();
    const {
      itemsDone,
      itemsDoneCount,
      itemsFinishedLoading,
      itemsPerPage,
      itemsTodo,
      itemsTotal,
      loadNextPage
    } = useList({
      note: computed(() => props.note),
      preview: computed(() => props.preview),
      handleQueryingRemote: true
    });

    const state = reactive({
      showDone: true
    });

    async function loadMore(idx, done) {
      done(await loadNextPage());
    }

    return {
      // useList
      listEntriesDoneLoading: itemsFinishedLoading,
      listEntriesDone: Object.freeze(itemsDone),
      listEntriesDoneCount: itemsDoneCount,
      listEntriesTodo: Object.freeze(itemsTodo),
      itemsPerPage,
      // useUser
      settings,
      userId,
      // Local state
      listEntriesTotal: itemsTotal,
      loadMore,
      ...toRefs(state)
    };
  }
};
</script>

<style>
</style>