<template>
  <q-item
    dense
    :class="{ 'active-entry': active }"
    :style="{
      'padding-top': dense ? '3px' : '5px',
      'padding-bottom': dense ? '3px' : '5px'
    }"
    @mouseover="hovered = true"
    @mouseleave="hovered = false"
  >
    <q-item-section side top>
      <q-icon
        color="color-caption"
        :size="$q.screen.xs ? '22px' : '20px'"
        :style="{ 'margin-top': $q.screen.xs ? '3px' : '4px' }"
        :class="{ 'cursor-pointer': !placeholder && !preview }"
        :name="icon"
        @click="toggleCheck()"
      />
    </q-item-section>
    <q-item-section>
      <q-input
        ref="input"
        autogrow
        borderless
        dense
        class="my-input"
        :input-style="{
          'margin-top': dense ? '0' : '2px',
          'min-height': dense ? '20px' : '22px',
          'padding-top': '0px',
          'padding-bottom': '0px'
        }"
        :placeholder="placeholder ? 'List item' : ''"
        :class="{
          'text-strike': item.done,
          'text-color-body': !item.done,
          'text-color-caption': item.done
        }"
        :debounce="placeholder ? undefined : 200"
        :input-class="{
          'cursor-inherit': preview,
          'text-color-body': !item.done,
          'text-color-caption': item.done
        }"
        :readonly="preview || readonly"
        :value="item.text"
        v-bind="$attrs"
        @blur="active = false"
        @focus="active = true"
        @input="handleInput"
        v-on="$listeners"
      />
    </q-item-section>
    <q-item-section top side>
      <div style="min-width: 26px">
        <q-btn
          v-show="!placeholder && !preview && (active || hovered)"
          dense
          flat
          round
          color="color-caption"
          icon="close"
          size="11px"
          :tabindex="-1"
          @click="deleteItem"
        >
          <q-tooltip>Delete</q-tooltip>
        </q-btn>
      </div>
    </q-item-section>
  </q-item>
</template>

<script>
import Vue from "vue";

const { ListEntry } = Vue.$FeathersVuex.api;

export default {
  name: "ChecklistItem",
  props: {
    dense: {
      type: Boolean,
      default: false
    },
    icon: {
      type: String,
      default() {
        return "o_check_box_outline_blank";
      }
    },
    item: {
      type: ListEntry,
      default() {
        return new ListEntry(null, { commit: false });
      }
    },
    placeholder: {
      type: Boolean,
      default() {
        return false;
      }
    },
    preview: {
      type: Boolean,
      default() {
        return false;
      }
    },
    readonly: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      active: false,
      hovered: false
    };
  },
  methods: {
    deleteItem() {
      if (!this.placeholder) {
        return this.item.remove({ eager: true });
      }
    },
    focusInput(selectionStart) {
      this.$refs.input.$el.focus();
      if (selectionStart === -1) {
        selectionStart = this.item.text.length;
      }
      if (selectionStart !== undefined) {
        this.$refs.input.$el.control.selectionStart = selectionStart;
        this.$refs.input.$el.control.selectionEnd = selectionStart;
      }
    },
    handleInput(text) {
      if (!this.placeholder) {
        this.item.setProps({ text });
      }
    },
    toggleCheck() {
      if (!this.placeholder && !this.preview) {
        this.item.setProps({ done: !this.item.done });
      }
    }
  }
};
</script>

<style scoped>
.body--light .active-entry {
  background: rgba(0, 0, 0, 0.1);
}
.body--dark .active-entry {
  background: rgba(255, 255, 255, 0.1);
}
.my-input >>> .q-field__control {
  min-height: 20px;
}
</style>
