<template>
  <div
    :class="{
      'bg-dark': $q.dark.isActive,
      'bg-white': !$q.dark.isActive,
      'bg-transparent': transparent
    }"
  >
    <q-btn
      v-for="color in colors"
      :key="color.name"
      dense
      round
      unelevated
      :size="buttonSize"
      :class="
        `q-ma-xs bg-keep-${color.code} text-grey-${$q.dark.isActive ? 3 : 9}`
      "
      :icon="value === color.code ? 'check' : ''"
      :outline="
        (transparent && color.code === value) ||
          (!transparent && color.code === 'default')
      "
      @click="$emit('input', color.code)"
    >
      <q-tooltip>{{ color.name }}</q-tooltip>
    </q-btn>
  </div>
</template>

<script>
const buttonSizes = {
  xs: "md",
  sm: "md",
  md: "md",
  lg: "sm",
  xl: "sm"
};
export default {
  name: "ColorPicker",
  props: {
    transparent: {
      type: Boolean,
      default: false
    },
    value: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      colors: [
        { code: "default", name: "Default" },
        { code: "red", name: "Red" },
        { code: "orange", name: "Orange" },
        { code: "yellow", name: "Yellow" },
        { code: "green", name: "Green" },
        { code: "teal", name: "Teal" },
        { code: "blue", name: "Blue" },
        { code: "darkblue", name: "Dark blue" },
        { code: "purple", name: "Purple" },
        { code: "pink", name: "Pink" },
        { code: "brown", name: "Brown" },
        { code: "gray", name: "Gray" }
      ]
    };
  },
  computed: {
    buttonSize() {
      return buttonSizes[this.$q.screen.name];
    }
  }
};
</script>
