<template>
  <q-card :bordered="$q.dark.isActive">
    <q-card-section
      :class="`q-py-sm ${$q.dark.isActive ? 'bg-dark' : 'bg-primary'}`"
    >
      <div class="row items-center">
        <div class="col-6">
          <q-input
            v-model="payload.description"
            dark
            standout
            class="text-color-body-dark"
            input-class="text-h6 text-color-body-dark"
            label="API Key Name"
          />
        </div>
      </div>
    </q-card-section>

    <q-card-section class="q-pb-sm q-pt-sm">
      <div class="row">
        <div class="col-4 q-pr-sm">
          <q-field
            borderless
            stack-label
            class="full-width"
            label="Parameters"
            :label-color="accentColor"
          >
            <template v-slot:control>
              <div class="row full-width q-my-sm">
                <div class="col">
                  <q-input
                    v-model.number="payload.limit"
                    outlined
                    stack-label
                    input-class="text-color-body"
                    label="API Hit Limit"
                    type="number"
                    :color="accentColor"
                    :label-color="accentColor"
                  />
                </div>
              </div>
              <div class="row full-width">
                <div class="col">
                  <q-input
                    ref="expirationRef"
                    v-model="payload.expiresIn"
                    outlined
                    stack-label
                    input-class="text-color-body"
                    :color="accentColor"
                    :label-color="accentColor"
                    :label="
                      expirationConfirmation
                        ? `Expires In: ${expirationConfirmation}`
                        : 'Expires In'
                    "
                    hint="Eg: '2 days', '10h', '1 week'"
                    :rules="[
                      val => !!val || 'Expiration is required',
                      val =>
                        convertTime(val) !== undefined || 'Invalid time string',
                      val =>
                        convertTime(val) >= 1000 ||
                        'Expiration must be at least 1 second'
                    ]"
                  />
                </div>
              </div>
            </template>
          </q-field>
        </div>
        <div class="col-8 q-pl-sm">
          <ApiKeyScope :scope="payload.scope" />
        </div>
      </div>
    </q-card-section>

    <q-separator />

    <q-card-section class="q-py-sm q-pr-sm q-pl-lg">
      <div class="row justify-between items-center">
        <div v-if="errors.create" class="col-auto text-caption text-negative">
          {{ errors.create.message }}
        </div>
        <div v-else class="col-auto text-caption text-color-caption">
          Properties cannot be changed after creation
        </div>
        <div class="col-auto">
          <q-btn flat color="color-body" @click="validateAndCreate"
            >Create API Key</q-btn
          >
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  reactive,
  ref,
  toRefs,
  watch
} from "@vue/composition-api";
import ms from "ms";
import { Dark, QInput } from "quasar";

import store from "src/store";
import ApiKeyScope from "components/ApiKeyScope.vue";
import useNotify from "composables/use-notify";

export default defineComponent({
  name: "CardCreateApiKey",
  components: { ApiKeyScope },
  props: {
    userId: {
      required: true,
      type: Number
    }
  },
  setup(props) {
    const notify = useNotify();

    const expirationRef = ref<QInput | null>(null);

    const state = reactive({
      errors: {
        create: null as unknown
      },
      payload: {
        description: "",
        expiresIn: "1d",
        limit: 1000,
        scope: {
          notes: [],
          "list-entries": []
        },
        userId: props.userId
      }
    });
    watch(
      () => props.userId,
      id => (state.payload.userId = id)
    );

    const accentColor = computed(() =>
      Dark.isActive ? "color-caption" : "primary"
    );

    const expirationMilliseconds = computed(() => {
      if (state.payload.expiresIn === "") return null;
      const milliseconds = ms(state.payload.expiresIn);
      if (milliseconds === undefined) return null;
      return milliseconds;
    });

    const expirationConfirmation = computed(() => {
      if (typeof expirationMilliseconds.value !== "number") return "";
      return ms(expirationMilliseconds.value, { long: true });
    });

    function convertTime(val: number) {
      return ms(val);
    }

    async function validateAndCreate() {
      if (
        !expirationRef.value ||
        !expirationRef.value.validate() ||
        !expirationMilliseconds.value
      ) {
        notify.create({
          icon: "o_error",
          color: "negative",
          message: "Fix invalid parameters"
        });
        return;
      }
      state.errors.create = null;
      // Convert expiration string to seconds before sending to API server
      const expiresIn = Math.floor(expirationMilliseconds.value / 1000);
      const pl = Object.assign({}, state.payload, { expiresIn });
      try {
        await store.dispatch("api-key/create", pl);
      } catch (e) {
        state.errors.create = e;
      }
    }

    return {
      // State
      ...toRefs(state),
      expirationRef,
      // Computed
      accentColor,
      expirationMilliseconds,
      expirationConfirmation,
      // Methods
      convertTime,
      validateAndCreate
    };
  }
});
</script>

<style>
</style>