<template>
  <div class="full-width row">
    <div
      :class="{
        'col-12': gridDisplay,
        'col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-12': !gridDisplay
      }"
    >
      <div v-for="group in filteredNotes" :key="group.label" class="full-width">
        <div
          v-if="group.label.length > 0 && group.notes.length > 0"
          class="row q-px-sm text-caption text-color-caption"
          :class="{
            'q-mt-lg': gridDisplay || $q.screen.xs,
            'q-mt-xl': !gridDisplay && $q.screen.gt.xs
          }"
        >
          {{ group.label.toUpperCase() }}
        </div>
        <div class="row">
          <div
            v-for="note in group.notes"
            :key="note.id"
            :class="{
              'col-xs-6 col-md-4 col-lg-3': gridDisplay,
              'col-12': !gridDisplay,
              'q-pa-sm': $q.screen.gt.xs,
              'q-pa-xs': $q.screen.xs
            }"
          >
            <component
              :is="$q.screen.xs ? 'NoteCardMobile' : 'NoteCard'"
              preview
              class="full-width"
              :class="{ invisible: note === openNote }"
              :note="note"
              :user-id="userId"
              @click="openNoteInDialog(note)"
            />
          </div>
        </div>
        <div
          v-if="group.icon && group.notes.length === 0"
          class="column items-center q-mt-xl text-color-caption"
        >
          <div class="col">
            <q-icon :name="group.icon" size="150px" />
          </div>
          <div class="col text-h6">No notes in {{ group.label }}</div>
        </div>
      </div>
    </div>
    <q-dialog
      v-model="dialogOpen"
      :maximized="$q.screen.xs"
      @before-hide="closeNoteInDialog"
    >
      <component
        :is="$q.screen.xs ? 'NoteCardMobile' : 'NoteCard'"
        expanded
        in-dialog
        :note="openNote"
        :user-id="userId"
        :style="noteDialogStyle"
        @close="closeNoteInDialog"
      />
    </q-dialog>
  </div>
</template>

<script>
import Vue from "vue";
import { makeFindMixin } from "feathers-vuex";
import {
  Plugins,
  StatusBarStyle
} from "app/src-capacitor/node_modules/@capacitor/core";

import NoteCard from "components/NoteCard.vue";
import NoteCardMobile from "components/NoteCardMobile.vue";

const { StatusBar } = Plugins;
const { Note } = Vue.$FeathersVuex.api;

const lightColors = {
  default: "#ffffff",
  red: "#f28b82",
  orange: "#fbbc04",
  yellow: "#fff475",
  green: "#ccff90",
  teal: "#a7ffeb",
  blue: "#cbf0f8",
  darkblue: "#aecbfa",
  purple: "#d7aefb",
  pink: "#fdcfe8",
  brown: "#e6c9a8",
  gray: "#e8eaed"
};
const darkColors = {
  default: "#1d1d1d",
  red: "#5c2b29",
  orange: "#614a19",
  yellow: "#635d19",
  green: "#345920",
  teal: "#16504b",
  blue: "#2d555e",
  darkblue: "#1e3a5f",
  purple: "#42275e",
  pink: "#5b2245",
  brown: "#442f19",
  gray: "#3c3f43"
};

export default {
  name: "NoteGrid",
  components: { NoteCard, NoteCardMobile },
  mixins: [makeFindMixin({ service: "notes" })],
  props: {
    fetchQuery: {
      type: Object,
      default() {
        return null;
      }
    },
    filters: {
      type: Array,
      default() {
        return [{ label: "All", filter: () => true }];
      }
    },
    gridDisplay: {
      type: Boolean,
      default: false
    },
    query: {
      type: Object,
      default() {
        return {};
      }
    },
    userId: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      dialogOpen: false,
      openNote: null
    };
  },
  computed: {
    filteredNotes() {
      return this.filters.map(f =>
        Object.assign({}, f, {
          // If no filter provided, assign all notes from query result
          notes: f.filter ? this.notes.filter(f.filter) : this.notes
        })
      );
    },
    noteDialogStyle() {
      const ret = {};
      if (!this.$q.screen.xs) {
        ret.width = "600px";
        ret["max-width"] = "80vw";
        ret["max-height"] = "80vh";
      }
      return ret;
    },
    notesParams() {
      return { query: this.query };
    },
    // These params are sent to the server
    notesFetchParams() {
      if (this.fetchQuery) {
        return { query: this.fetchQuery };
      }
      return undefined;
    }
  },
  watch: {
    "$q.dark.isActive": {
      immediate: true,
      handler() {
        if (this.openNote) {
          this.setStatusBarColor(this.openNote.color);
        } else {
          this.setStatusBarColor("default");
        }
      }
    },
    "openNote.color": {
      handler(color) {
        if (color) {
          this.setStatusBarColor(color);
        } else {
          this.setStatusBarColor("default");
        }
      }
    }
  },
  beforeDestroy() {
    Note.off("before-remove", this.onNoteRemovingLocal);
    Note.off("removed", this.onNoteRemovedForeign);
  },
  mounted() {
    Note.on("before-remove", this.onNoteRemovingLocal);
    Note.on("removed", this.onNoteRemovedForeign);
  },
  methods: {
    closeNoteInDialog() {
      if (!this.openNote) {
        return;
      }
      this.dialogOpen = false;
      this.openNote = null;
    },
    onNoteRemovedForeign(note) {
      // Object won't match, but will have real ID
      if (this.openNote && note.data.id === this.openNote.id) {
        this.closeNoteInDialog();
      }
    },
    onNoteRemovingLocal(note) {
      // Check note reference matches exactly
      if (note === this.openNote) {
        this.closeNoteInDialog();
      }
    },
    openNoteInDialog(note) {
      this.openNote = note;
      this.dialogOpen = true;
      this.setStatusBarColor(note.color);
    },
    async setStatusBarColor(color) {
      const isDark = this.$q.dark.isActive;
      const colors = isDark ? darkColors : lightColors;
      const colorCode = colors[color];
      try {
        this.statusBarInfo = await StatusBar.getInfo();
        await StatusBar.setBackgroundColor({ color: colorCode });
        const statusBarIsDark =
          this.statusBarInfo.style === StatusBarStyle.Dark;
        if (isDark !== statusBarIsDark) {
          const style = isDark ? StatusBarStyle.Dark : StatusBarStyle.Light;
          await StatusBar.setStyle({ style });
        }
      } catch {
        // For now, quietly ignore failure to change status bar color
      }
    }
  }
};
</script>
