<template>
  <q-card
    v-if="note !== null"
    v-bind="$attrs"
    :bordered="note.color === 'default' && preview"
    :class="`bg-keep-${note.color}`"
    :flat="preview"
    v-on="$listeners"
  >
    <mobile-dialog-layout
      v-if="!preview"
      :color="note.color"
      :footer-elevated="mobileActions || mobileAdd || mobileInfo"
      @pageclick="
        mobileAdd = false;
        mobileActions = false;
        mobileInfo = false;
      "
      @scroll="
        mobileActions = false;
        mobileAdd = false;
        mobileInfo = false;
      "
    >
      <template v-slot:header-actions>
        <q-btn
          flat
          round
          class="q-ml-sm"
          size="12px"
          :icon="note.starred ? 'star' : 'star_border'"
          @click.stop="note.setProps({ starred: !note.starred })"
        />
        <q-btn
          v-close-popup
          flat
          round
          class="q-ml-sm"
          size="12px"
          :icon="note.archived ? 'o_unarchive' : 'o_archive'"
          @click.stop="delayArchive()"
        />
      </template>

      <div class="row">
        <div class="col">
          <q-input
            dense
            borderless
            class="q-px-md"
            input-class="cursor-inherit text-color-body"
            input-style="font-weight: 700; font-size: 24px;"
            placeholder="Title"
            :debounce="200"
            :readonly="inUseByForeignDevice"
            :value="note.title"
            @input="note.setProps({ title: $event })"
          />
        </div>
        <div v-if="note.checkboxes" class="col-auto">
          <q-btn flat round color="color-caption" icon="more_vert">
            <q-menu anchor="bottom left" self="top left">
              <q-card style="min-width: 200px">
                <q-list>
                  <q-item v-close-popup clickable @click="toggleList()">
                    <q-item-section>Hide checkboxes</q-item-section>
                  </q-item>
                  <template v-if="itemsDone.length">
                    <q-item v-close-popup clickable @click="uncheckAll()">
                      <q-item-section>Uncheck all items</q-item-section>
                    </q-item>
                    <q-item v-close-popup clickable @click="deleteDoneItems()">
                      <q-item-section>Delete checked items</q-item-section>
                    </q-item>
                  </template>
                </q-list>
              </q-card>
            </q-menu>
          </q-btn>
        </div>
      </div>
      <!-- Text -->
      <q-input
        v-if="!note.checkboxes"
        autogrow
        borderless
        dense
        class="q-px-md q-mt-md"
        input-class="cursor-inherit text-color-body"
        placeholder="Take a note..."
        :debounce="200"
        :readonly="inUseByForeignDevice"
        :value="note.text"
        @input="note.setProps({ text: $event })"
      />
      <!-- Checklist -->
      <Checklist
        v-else
        class="q-mt-md"
        :note="note"
        :readonly="inUseByForeignDevice"
      />

      <template v-slot:footer>
        <q-slide-transition>
          <q-list v-if="mobileAdd">
            <q-item v-ripple clickable class="text-color-caption">
              <q-item-section avatar>
                <q-icon name="o_camera_alt" size="20px" class="q-pl-sm" />
              </q-item-section>
              <q-item-section>Take photo</q-item-section>
            </q-item>
            <q-item v-ripple class="text-color-caption" clickable>
              <q-item-section avatar>
                <q-icon name="o_image" size="20px" class="q-pl-sm" />
              </q-item-section>
              <q-item-section>Add image</q-item-section>
            </q-item>
            <q-item v-ripple class="text-color-caption" clickable>
              <q-item-section avatar>
                <q-icon name="o_brush" size="20px" class="q-pl-sm" />
              </q-item-section>
              <q-item-section>Drawing</q-item-section>
            </q-item>
            <q-item v-ripple class="text-color-caption" clickable>
              <q-item-section avatar>
                <q-icon name="o_mic" size="20px" class="q-pl-sm" />
              </q-item-section>
              <q-item-section>Recording</q-item-section>
            </q-item>
            <q-item
              v-if="settings.geotagNotes"
              v-ripple
              clickable
              class="text-color-caption"
              @click="note.coords ? promptOverwriteGeotag() : updateGeotag()"
            >
              <q-item-section avatar>
                <q-icon
                  class="q-pl-sm"
                  size="20px"
                  :name="note.coords ? 'place' : 'o_place'"
                />
              </q-item-section>
              <q-item-section>{{
                note.coords ? "Overwrite location" : "Add location"
              }}</q-item-section>
            </q-item>
            <q-item
              v-if="!note.checkboxes"
              v-ripple
              clickable
              class="text-color-caption"
              @click="
                mobileAdd = false;
                delayToggleList();
              "
            >
              <q-item-section avatar>
                <q-icon name="o_check_box" size="20px" class="q-pl-sm" />
              </q-item-section>
              <q-item-section>Show checkboxes</q-item-section>
            </q-item>
          </q-list>
          <q-list v-else-if="mobileInfo">
            <q-item
              v-if="note.coords"
              v-ripple
              clickable
              class="text-color-caption"
              @click="openLocation()"
            >
              <q-item-section avatar>
                <q-icon name="place" size="20px" class="q-pl-sm" />
              </q-item-section>
              <q-item-section>{{ positionDisplay }}</q-item-section>

              <q-item-section avatar>
                <q-icon name="open_in_new" size="20px" class="q-pr-sm" />
              </q-item-section>
            </q-item>
            <q-item class="text-color-caption">
              <q-item-section avatar>
                <q-icon name="o_create" size="20px" class="q-pl-sm" />
              </q-item-section>
              <q-item-section> Created {{ createdAtDisplay }} </q-item-section>
            </q-item>
          </q-list>
          <q-list v-else-if="mobileActions">
            <template v-if="note.trashed">
              <q-item
                v-close-popup
                clickable
                class="text-color-caption"
                @click="delayRestore()"
              >
                <q-item-section avatar>
                  <q-icon name="o_restore_from_trash" />
                </q-item-section>
                <q-item-section>Restore</q-item-section>
              </q-item>
              <q-item
                clickable
                class="text-color-caption"
                @click="promptDelete()"
              >
                <q-item-section avatar>
                  <q-icon name="o_delete_forever" />
                </q-item-section>
                <q-item-section>Delete forever</q-item-section>
              </q-item>
            </template>
            <template v-else>
              <q-item
                v-close-popup
                clickable
                class="text-color-caption"
                @click="delayTrash()"
              >
                <q-item-section avatar>
                  <q-icon name="o_delete" />
                </q-item-section>
                <q-item-section>Delete</q-item-section>
              </q-item>
              <q-item
                v-close-popup
                clickable
                class="text-color-caption"
                @click="delayDuplicate()"
              >
                <q-item-section avatar>
                  <q-icon class="q-pl-xs" name="o_copy" size="20px" />
                </q-item-section>
                <q-item-section>Make a copy</q-item-section>
              </q-item>
              <q-item
                class="text-color-caption"
                clickable
                @click="
                  mobileActions = false;
                  share();
                "
              >
                <q-item-section avatar>
                  <q-icon class="q-pl-xs" name="o_share" size="20px" />
                </q-item-section>
                <q-item-section>Share</q-item-section>
              </q-item>
              <q-item v-ripple class="text-color-caption" clickable>
                <q-item-section avatar>
                  <q-icon class="q-pl-xs" name="o_person_add" size="20px" />
                </q-item-section>
                <q-item-section>Collaborator</q-item-section>
              </q-item>
              <q-item v-ripple class="text-color-caption" clickable>
                <q-item-section avatar>
                  <q-icon class="q-pl-sm" name="o_label" size="20px" />
                </q-item-section>
                <q-item-section>Labels</q-item-section>
              </q-item>
              <q-scroll-area
                horizontal
                style="height: 50px; width: 100%;"
                :thumb-style="{ height: '5px' }"
                :visible="false"
              >
                <ColorPicker
                  transparent
                  class="q-mx-sm"
                  style="width: 500px"
                  :value="note.color"
                  @input="note.setProps({ color: $event })"
                />
              </q-scroll-area>
            </template>
          </q-list>
        </q-slide-transition>
      </template>
      <template v-slot:footer-actions>
        <q-btn
          flat
          round
          size="12px"
          icon="o_add_box"
          @click="
            mobileAdd = !mobileAdd;
            mobileActions = false;
            mobileInfo = false;
          "
        />
        <q-space></q-space>
        <div
          @click="
            mobileInfo = !mobileInfo;
            mobileActions = false;
            mobileAdd = false;
          "
        >
          <q-icon v-if="note.coords" name="place" size="xs" class="q-mr-sm" />
          <span class="text-caption"> Edited {{ updatedAtDisplay }} </span>
        </div>
        <q-space></q-space>
        <q-btn
          flat
          round
          class="q-ml-sm"
          icon="more_vert"
          size="12px"
          @click="
            mobileActions = !mobileActions;
            mobileAdd = false;
            mobileInfo = false;
          "
        />
      </template>
    </mobile-dialog-layout>

    <!-- Preview -->
    <template v-else>
      <q-card-section
        style="padding-top: 8px; padding-bottom: 0; padding-left: 16px; padding-right: 16px"
      >
        <div v-show="note.title">
          <q-input
            v-show="note.title"
            borderless
            dense
            readonly
            input-class="cursor-inherit text-color-body"
            input-style="font-weight: 700; font-size: 16px;"
            placeholder="Title"
            :value="note.title"
          />
        </div>
      </q-card-section>
      <div style="padding-bottom: 8px">
        <!-- Text -->
        <div
          v-if="!note.checkboxes"
          class="cursor-inherit q-px-md text-color-body truncate-overflow"
          :style="{ '--lineCount': 15 }"
        >
          <span>{{ note.text }}</span>
        </div>
        <!-- Checklist -->
        <Checklist v-else dense preview :note="note" />
      </div>
    </template>

    <!-- Prevent adding new checklist items until note has ID -->
    <q-inner-loading
      :showing="
        inUseByForeignDevice ||
          (!note.id && note.checkboxes && note.isSaveWaiting)
      "
    />
  </q-card>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  reactive,
  toRefs
} from "@vue/composition-api";

import ColorPicker from "components/ColorPicker.vue";
import Checklist from "components/Checklist.vue";
import MobileDialogLayout from "layouts/MobileDialogLayout.vue";
import { useNote, useUser } from "composables/.";
import { Note } from "src/store/services/notes";

export default defineComponent<{
  inDialog: boolean;
  note: Note;
  preview: boolean;
}>({
  name: "NoteCardMobile",
  components: { Checklist, ColorPicker, MobileDialogLayout },
  props: {
    inDialog: {
      type: Boolean,
      default: false
    },
    note: {
      type: Note,
      required: true
    },
    preview: {
      type: Boolean,
      default() {
        return false;
      }
    }
  },
  setup(props) {
    // Local state
    const state = reactive({
      mobileActions: false,
      mobileAdd: false,
      mobileInfo: false
    });

    const {
      createdAtDisplay,
      delayArchive,
      delayDuplicate,
      delayRestore,
      delayToggleList,
      delayTrash,
      deleteDoneItems,
      inUseByForeignDevice,
      itemsDone,
      openLocation,
      positionDisplay,
      promptDelete,
      promptOverwriteGeotag,
      toggleList,
      share,
      uncheckAll,
      updatedAtDisplay,
      updateGeotag
    } = useNote({
      preview: computed(() => props.preview),
      note: computed(() => props.note),
      watchServiceEvents: true
    });

    const { settings, userId } = useUser();

    return {
      // Local state
      ...toRefs(state),
      // useNote
      createdAtDisplay,
      delayArchive,
      delayDuplicate,
      delayRestore,
      delayToggleList,
      delayTrash,
      deleteDoneItems,
      inUseByForeignDevice,
      itemsDone,
      openLocation,
      positionDisplay,
      promptDelete,
      promptOverwriteGeotag,
      share,
      toggleList,
      uncheckAll,
      updatedAtDisplay,
      updateGeotag,
      // useUser
      settings,
      userId
    };
  }
});
</script>

<style scoped></style>
