<template>
  <q-dialog ref="dialog" @hide="onDialogHide">
    <q-card class="q-dialog-plugin">
      <q-card-section class="row items-center">
        <div>Delete checked items?</div>
        <q-space />
        <q-btn
          v-close-popup
          dense
          flat
          round
          icon="close"
          size="sm"
          @click="onCancelClick"
        />
      </q-card-section>
      <q-card-actions align="right">
        <q-btn
          flat
          no-caps
          color="primary"
          label="Delete"
          @click="onOKClick(true)"
        />
        <q-btn
          flat
          no-caps
          color="primary"
          label="Keep"
          @click="onOKClick(false)"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  methods: {
    show() {
      this.$refs.dialog.show();
    },
    hide() {
      this.$refs.dialog.hide();
    },
    onDialogHide() {
      this.$emit("hide");
    },
    onOKClick(deleteChecked) {
      this.$emit("ok", deleteChecked);
      this.hide();
    },
    onCancelClick() {
      this.hide();
    }
  }
};
</script>