<template>
  <!-- Trashed Note actions -->
  <q-card-actions v-if="note.trashed > 0">
    <q-btn
      flat
      round
      color="color-body"
      icon="o_delete_forever"
      size="11px"
      @click.stop="promptDelete()"
    >
      <q-tooltip>Delete forever</q-tooltip>
    </q-btn>

    <q-btn
      v-close-popup
      flat
      round
      color="color-body"
      icon="o_restore_from_trash"
      size="11px"
      @click.stop="delayRestore()"
    >
      <q-tooltip>Restore</q-tooltip>
    </q-btn>
  </q-card-actions>

  <!-- Normal Note options -->
  <q-card-actions v-else>
    <q-btn
      flat
      round
      color="color-body"
      icon="o_notifications"
      size="11px"
      @click.stop
    >
      <q-tooltip>Remind me</q-tooltip>
    </q-btn>

    <q-btn
      flat
      round
      color="color-body"
      icon="o_person_add"
      size="11px"
      @click.stop
    >
      <q-tooltip>Collaborator</q-tooltip>
    </q-btn>

    <q-btn
      flat
      round
      color="color-body"
      icon="o_color_lens"
      size="11px"
      @click.stop
    >
      <q-tooltip>Change color</q-tooltip>
      <q-popup-proxy
        @hide="$emit('update:popupOpen', false)"
        @show="$emit('update:popupOpen', true)"
      >
        <ColorPicker
          :value="note.color"
          @input="note.setProps({ color: $event })"
        />
      </q-popup-proxy>
    </q-btn>

    <q-btn flat round color="color-body" icon="o_image" size="11px" @click.stop>
      <q-tooltip>Add image</q-tooltip>
    </q-btn>

    <q-btn
      v-if="note.archived"
      v-close-popup
      flat
      round
      color="color-body"
      icon="o_unarchive"
      size="11px"
      @click.stop="delayArchive()"
    >
      <q-tooltip>Unarchive</q-tooltip>
    </q-btn>
    <q-btn
      v-else
      v-close-popup
      flat
      round
      color="color-body"
      icon="o_archive"
      size="11px"
      @click.stop="delayArchive()"
    >
      <q-tooltip>Archive</q-tooltip>
    </q-btn>

    <q-btn
      flat
      round
      color="color-body"
      icon="o_more_vert"
      size="11px"
      @click.stop
    >
      <q-tooltip>More</q-tooltip>
      <q-menu
        @hide="$emit('update:popupOpen', false)"
        @show="$emit('update:popupOpen', true)"
      >
        <q-list dense>
          <q-item
            v-close-popup="2"
            clickable
            class="text-color-body"
            @click="trash()"
          >
            <q-item-section>Delete note</q-item-section>
          </q-item>
          <q-item v-close-popup clickable class="text-color-body">
            <q-item-section>Add label</q-item-section>
          </q-item>
          <q-item
            v-close-popup="2"
            clickable
            class="text-color-body"
            @click="delayDuplicate()"
          >
            <q-item-section>Make a copy</q-item-section>
          </q-item>
          <q-item
            v-if="note.checkboxes"
            v-close-popup
            clickable
            class="text-color-body"
            @click="toggleList()"
          >
            <q-item-section>Hide checkboxes</q-item-section>
          </q-item>
          <q-item
            v-else
            v-close-popup
            clickable
            class="text-color-body"
            @click="toggleList()"
          >
            <q-item-section>Show checkboxes</q-item-section>
          </q-item>
        </q-list>
      </q-menu>
    </q-btn>

    <template v-if="expanded">
      <q-btn
        v-if="settings.geotagNotes"
        flat
        round
        color="color-body"
        :icon="note.coords ? 'place' : 'o_place'"
        size="11px"
        @click.stop="note.coords ? promptOverwriteGeotag() : updateGeotag()"
      >
        <q-tooltip>Geotag</q-tooltip>
      </q-btn>

      <q-btn
        flat
        round
        color="color-body"
        icon="o_undo"
        size="11px"
        @click.stop
      >
        <q-tooltip>Undo</q-tooltip>
      </q-btn>
      <q-btn
        flat
        round
        color="color-body"
        icon="o_redo"
        size="11px"
        @click.stop
      >
        <q-tooltip>Redo</q-tooltip>
      </q-btn>

      <q-space />

      <q-btn
        flat
        no-caps
        color="color-body"
        size="13px"
        label="Close"
        @click.stop="$emit('close')"
      />
    </template>
  </q-card-actions>
</template>

<script lang="ts">
import { computed, defineComponent } from "@vue/composition-api";

import ColorPicker from "components/ColorPicker.vue";
import useNote from "composables/use-note";
import useUser from "composables/use-user";
import { Note } from "src/store/services/notes";

export default defineComponent<{
  expanded: boolean;
  preview: boolean;
  note: Note;
}>({
  name: "NoteCardActions",
  components: { ColorPicker },
  props: {
    expanded: {
      type: Boolean,
      default: false
    },
    preview: {
      type: Boolean,
      default: false
    },
    note: {
      type: Note,
      required: true
    }
  },
  setup(props) {
    const {
      delayArchive,
      delayDuplicate,
      delayRestore,
      promptDelete,
      promptOverwriteGeotag,
      toggleList,
      trash,
      updateGeotag
    } = useNote({
      note: computed(() => props.note),
      preview: computed(() => props.preview)
    });
    const { settings } = useUser();

    return {
      // useNote
      delayArchive,
      delayDuplicate,
      delayRestore,
      promptDelete,
      promptOverwriteGeotag,
      toggleList,
      trash,
      updateGeotag,
      // useUser
      settings
    };
  }
});
</script>

<style scoped></style>
