<template>
  <q-card
    v-if="note !== null"
    :flat="preview"
    v-bind="$attrs"
    :bordered="note.color === 'default'"
    :class="`relative-position bg-keep-${note.color}`"
    v-on="$listeners"
    @mouseover="hovered = true"
    @mouseleave="hovered = false"
  >
    <!-- <q-img src="https://cdn.quasar.dev/img/parallax2.jpg" /> -->
    <div class="absolute-top-right q-ma-xs" style="z-index:1">
      <transition name="fade">
        <q-btn
          v-show="(hovered && preview) || showExpanded"
          flat
          round
          color="color-body"
          size="11px"
          :icon="note.starred ? 'star' : 'star_border'"
          @click.stop="note.setProps({ starred: !note.starred })"
        >
          <q-tooltip>{{ note.starred ? "Uns" : "S" }}tar note</q-tooltip>
        </q-btn>
      </transition>
    </div>
    <q-card-section
      :style="{
        'padding-top': showExpanded || preview ? '16px' : '0',
        'padding-bottom': '0',
        'padding-left': '16px',
        'padding-right': '16px'
      }"
    >
      <q-slide-transition>
        <div v-show="showExpanded || (preview && note.title)">
          <q-input
            dense
            borderless
            placeholder="Title"
            :debounce="200"
            :readonly="preview || inUseByForeignDevice"
            :value="note.title"
            input-class="cursor-inherit text-color-body"
            input-style="font-weight: 700; font-size: 16px;"
            @input="note.setProps({ title: $event })"
          />
        </div>
      </q-slide-transition>
    </q-card-section>

    <!-- Note content -->
    <div ref="noteBody" style="max-height: calc(80vh - 150px); overflow: auto;">
      <!-- Text -->
      <template v-if="!note.checkboxes">
        <div
          v-if="preview"
          class="q-px-md text-color-body truncate-overflow"
          :style="{ '--lineCount': lineCount }"
        >
          <span>{{ note.text }}</span>
        </div>
        <q-input
          v-else
          ref="noteRef"
          autogrow
          borderless
          dense
          class="q-px-md"
          input-class="cursor-inherit text-color-body"
          placeholder="Take a note..."
          :debounce="200"
          :readonly="inUseByForeignDevice"
          :value="note.text"
          @click="tryExpand()"
          @input="note.setProps({ text: $event })"
        />
      </template>
      <!-- Checklist -->
      <Checklist
        v-else
        ref="listRef"
        dense
        :note="note"
        :preview="preview"
        :readonly="inUseByForeignDevice"
        :scroll-target="preview ? undefined : $refs.noteBody"
      />
    </div>

    <q-slide-transition>
      <div
        v-if="showExpanded && note.coords"
        class="full-width row justify-end q-px-md"
      >
        <div
          class="col-auto text-caption text-color-caption cursor-pointer"
          @click="openLocation()"
        >
          <q-icon name="o_my_location" /> {{ positionDisplay }}
          <q-tooltip>View in Open Street Maps</q-tooltip>
        </div>
      </div>
    </q-slide-transition>
    <q-slide-transition>
      <div
        v-if="showExpanded && note.updatedAt"
        class="full-width row justify-end q-px-md"
      >
        <div class="col-auto text-caption text-color-caption">
          Edited {{ updatedAtDisplay }}
          <q-tooltip> Created {{ createdAtDisplay }} </q-tooltip>
        </div>
      </div>
    </q-slide-transition>

    <!-- Buttons -->
    <q-slide-transition>
      <div v-show="showExpanded || preview">
        <div style="min-height: 49px">
          <transition name="fade" mode="out-in">
            <NoteCardActions
              v-show="hovered || showExpanded || popupOpen"
              :expanded="showExpanded"
              :note="note"
              :popup-open.sync="popupOpen"
              :preview="preview"
              @close="
                showExpanded = false;
                $emit('close', $event);
              "
            />
          </transition>
        </div>
      </div>
    </q-slide-transition>

    <!-- Prevent adding new checklist items until note has ID -->
    <q-inner-loading
      :showing="
        inUseByForeignDevice ||
          (!note.id && note.checkboxes && note.isSaveWaiting)
      "
    />
  </q-card>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  reactive,
  ref,
  toRefs,
  watch
} from "@vue/composition-api";
import { Screen } from "quasar";
import Vue from "vue";

import Checklist from "components/Checklist.vue";
import NoteCardActions from "components/NoteCardActions.vue";
import { useNote, useUser } from "composables/.";
import { Note } from "src/store/services/notes";

type FocusableChecklist = typeof Checklist & { focusPlaceholder: () => void };

export default defineComponent<{
  expanded: boolean;
  inDialog: boolean;
  note: Note;
  preview: boolean;
}>({
  name: "NoteCard",
  components: { Checklist, NoteCardActions },
  props: {
    expanded: {
      type: Boolean,
      default() {
        return false;
      }
    },
    inDialog: {
      type: Boolean,
      default: false
    },
    note: {
      type: Note,
      required: true
    },
    preview: {
      type: Boolean,
      default() {
        return false;
      }
    }
  },
  setup(props, ctx) {
    // Template refs
    const listRef = ref<FocusableChecklist | null>(null);
    const noteRef = ref<Vue | null>(null);

    // Local state
    const state = reactive({
      hovered: false,
      popupOpen: false,
      showExpanded: props.expanded
    });

    const lineCount = computed(() => {
      const maxCardHeight = Screen.height * 0.4;
      const lineHeight = 21;
      return Math.floor(maxCardHeight / lineHeight);
    });

    /** Attempt to expand */
    function tryExpand() {
      if (!props.preview) {
        state.showExpanded = true;
      }
    }

    const {
      createdAtDisplay,
      inUseByForeignDevice,
      openLocation,
      positionDisplay,
      updatedAtDisplay
    } = useNote({
      note: computed(() => props.note),
      preview: computed(() => props.preview),
      watchServiceEvents: true
    });

    const { userId } = useUser();

    // Focus components on list/note toggle
    watch(
      () => props.note.checkboxes,
      en => {
        if (props.preview || !props.expanded) return;
        if (en) {
          ctx.root.$nextTick(() => {
            if (listRef.value) {
              listRef.value.focusPlaceholder();
            }
          });
        } else {
          ctx.root.$nextTick(() => {
            if (noteRef.value) {
              const el = noteRef.value.$el as HTMLFormElement;
              el.focus();
              el.control.setSelectionRange(0, 0);
            }
          });
        }
      }
    );

    return {
      // Local state
      ...toRefs(state),
      lineCount,
      tryExpand,
      // useNote
      createdAtDisplay,
      inUseByForeignDevice,
      openLocation,
      positionDisplay,
      updatedAtDisplay,
      // useUser
      userId,
      // Template refs
      listRef,
      noteRef
    };
  }
});
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
