<template>
  <q-card :bordered="color === 'default'" :class="`bg-keep-${color}`">
    <q-skeleton v-if="hasPictures" height="150px" square />
    <q-card-section v-if="hasTitle">
      <q-skeleton height="22px" type="rect" />
    </q-card-section>

    <q-card-section>
      <q-skeleton v-for="i in linesOfTextArray" :key="i" type="text" />
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: "NoteCardSkeleton",
  props: {
    hasPictures: {
      type: Boolean,
      default() {
        return Boolean(Math.round(Math.random()));
      }
    },
    hasTitle: {
      type: Boolean,
      default() {
        return Boolean(Math.round(Math.random()));
      }
    },
    linesOfText: {
      type: Number,
      default() {
        return Math.ceil(Math.random() * 8);
      }
    }
  },
  data() {
    const colors = [
      // Make it more likely to be default
      "default",
      "default",
      "default",
      "default",
      "default",
      "default",
      "default",
      "red",
      "orange",
      "yellow",
      "green",
      "teal",
      "blue",
      "darkblue",
      "purple",
      "pink",
      "brown",
      "gray"
    ];
    const color = colors[Math.floor(Math.random() * colors.length)];
    return {
      color
    };
  },
  computed: {
    linesOfTextArray() {
      return [...Array(this.linesOfText).keys()];
    }
  }
};
</script>

<style scoped>
</style>
