<template>
  <q-card
    :bordered="$q.dark.isActive"
    v-bind="$attrs"
    class="relative-position"
    style="min-width: 300px"
    v-on="$listeners"
  >
    <q-card-section>
      <div class="row justify-center">
        <div class="col-auto q-pt-sm">
          <q-avatar size="60px">
            <img :src="user.avatar" />
          </q-avatar>
        </div>
      </div>
      <div class="row text-body justify-center">
        <div class="col-auto q-pt-sm">{{ user.email }}</div>
      </div>
    </q-card-section>

    <q-separator></q-separator>

    <!-- Buttons -->
    <q-card-actions align="center">
      <q-btn
        v-if="!isApiKey"
        icon-right="o_vpn_key"
        outline
        no-caps
        :to="{ name: 'API Keys' }"
      >
        <q-tooltip>Manage API Keys</q-tooltip>
      </q-btn>
      <q-btn
        outline
        no-caps
        label="Sign out"
        :loading="isLogoutPending"
        @click="logout()"
      />
    </q-card-actions>
  </q-card>
</template>

<script lang="ts">
import { defineComponent } from "@vue/composition-api";
import Vue from "vue";

import useAuth from "composables/use-auth";

const { User } = Vue.$FeathersVuex.api;

export default defineComponent({
  name: "ProfileCard",
  props: {
    user: {
      required: true,
      type: User
    }
  },
  setup() {
    const { isApiKey, isLogoutPending, logout } = useAuth();
    return { isApiKey, isLogoutPending, logout };
  }
});
</script>

<style scoped>
</style>
