<template>
  <q-card
    :bordered="color === 'default'"
    :class="`relative-position bg-keep-${color}`"
    v-bind="$attrs"
    v-on="$listeners"
  >
    <div class="absolute-top-right q-ma-xs" style="z-index:1">
      <q-btn
        flat
        round
        color="color-body"
        :icon="starred ? 'star' : 'star_border'"
        :tabindex="-1"
        @click.stop="starred = !starred"
      >
        <q-tooltip>{{ starred ? "Uns" : "S" }}tar note</q-tooltip>
      </q-btn>
    </div>
    <q-card-section
      :style="{
        'padding-top': '16px',
        'padding-bottom': '0',
        'padding-left': '16px',
        'padding-right': '16px'
      }"
    >
      <div>
        <q-input
          v-model="title"
          dense
          borderless
          placeholder="Title"
          input-class="cursor-inherit text-color-body"
          input-style="font-weight: 700; font-size: 16px;"
        />
      </div>
    </q-card-section>

    <!-- Note content -->
    <q-card-section style="max-height: calc(80vh - 110px); overflow: auto;">
      <q-input
        ref="emailRef"
        v-model="user.email"
        hide-bottom-space
        lazy-rules
        input-class="text-color-body"
        placeholder="email"
        type="email"
        :disable="isCreateUserPending"
        :rules="[
          val => !!val || 'Email address is requried',
          val => val.indexOf('@') > 0 || `Email address is missing '@'`
        ]"
        @keypress.enter="trySignup()"
      />
      <q-input
        ref="passwordRef"
        v-model="user.password"
        hide-bottom-space
        lazy-rules
        input-class="text-color-body"
        placeholder="password"
        type="password"
        :disable="isCreateUserPending"
        :rules="[
          val => !!val || 'Password is requried',
          val => val.length >= 6 || `Password must be at least 6 characters`
        ]"
        @keypress.enter="trySignup()"
      />
      <q-input
        ref="password2Ref"
        v-model="password2"
        hide-bottom-space
        lazy-rules
        input-class="text-color-body"
        placeholder="confirm password"
        type="password"
        :disable="isCreateUserPending"
        :rules="[
          val => !!val || 'Password is requried',
          val => val === user.password || 'Passwords must match'
        ]"
        @keypress.enter="trySignup()"
      />
    </q-card-section>

    <div v-if="signupError" class="q-px-md text-caption text-negative">
      {{ signupError.message }}
    </div>

    <!-- Buttons -->
    <q-card-actions style="min-height: 40px">
      <q-btn
        dense
        flat
        round
        color="color-body"
        icon="o_color_lens"
        size="sm"
        :tabindex="-1"
        @click.stop
      >
        <q-tooltip>Change color</q-tooltip>
        <q-popup-proxy>
          <ColorPicker v-model="color" />
        </q-popup-proxy>
      </q-btn>

      <q-space />

      <q-btn
        flat
        no-caps
        color="color-body"
        label="Sign Up"
        :loading="isCreateUserPending || isAuthPending"
        @click="trySignup()"
      />
    </q-card-actions>
  </q-card>
</template>

<script>
import { reactive, ref, toRefs } from "@vue/composition-api";

import ColorPicker from "components/ColorPicker.vue";
import useAuth from "composables/use-auth";

export default {
  name: "SignUpCard",
  components: { ColorPicker },
  setup() {
    const emailRef = ref(null);
    const passwordRef = ref(null);
    const password2Ref = ref(null);

    const {
      isCreateUserPending,
      isAuthPending,
      signupError,
      validateAndSignup
    } = useAuth({
      fields: [emailRef, passwordRef, password2Ref]
    });

    const state = reactive({
      color: "green",
      starred: false,
      title: "Sign Up for Preserve",
      password2: "",
      user: {
        strategy: "local",
        email: "",
        password: ""
      }
    });

    function trySignup() {
      return validateAndSignup(state.user);
    }

    return {
      ...toRefs(state),
      emailRef,
      passwordRef,
      password2Ref,
      trySignup,
      // useAuth
      isAuthPending,
      isCreateUserPending,
      signupError
    };
  }
};
</script>

<style scoped>
</style>
