// app global css in Sass form

@each $name, $color, $colorDark in $keep-colors
    .body--light
        .text-keep-#{$name}
            color: $color
        .bg-keep-#{$name}
            background-color: $color

    .body--dark
        .text-keep-#{$name}
            color: $colorDark
        .bg-keep-#{$name}
            background-color: $colorDark

.text-color-body-light
    color: $text-body
.text-color-caption-light
    color: $text-caption

.text-color-body-dark
    color: $text-body-dark
.text-color-caption-dark
    color: $text-caption-dark

.body--light
    .text-color-body
        color: $text-body
    .text-color-caption
        color: $text-caption

.body--dark
    .text-color-body
        color: $text-body-dark
    .text-color-caption
        color: $text-caption-dark

.bg-transparent
    background-color: transparent

.truncate-overflow
    white-space: pre-wrap
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-line-clamp: var(--lineCount)
    -webkit-box-orient: vertical
