<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script lang="ts">
import { defineComponent, watchEffect } from "@vue/composition-api";
import { Dark } from "quasar";

import feathersClient from "./feathers-client";
import store from "./store";
import useAuth from "composables/use-auth";
import useEventBus from "composables/use-event-bus";
import useUser from "composables/use-user";

export default defineComponent({
  name: "App",
  setup() {
    const { settings } = useUser();
    const { reAuthenticate } = useAuth();

    // Auth with redirect on initial connect
    if (!store.state.global.connectedToApi) {
      feathersClient.io.once("connect", () => reAuthenticate(true, true));
    }

    // On subsequent re-connects, just ensure we're still authenticated
    useEventBus(feathersClient.io, "reconnect", async () => {
      try {
        await reAuthenticate();
      } catch {
        // No longer authorized, go to login
        const redirect = store.$router.currentRoute.fullPath;
        store.$router.push({ name: "Login", query: { redirect } });
      }
    });

    // Keep global state in sync with connected status
    feathersClient.io.on("connect", () =>
      store.commit("global/setConnected", true)
    );
    feathersClient.io.on("disconnect", () =>
      store.commit("global/setConnected", false)
    );

    // Enable/Disable dark theme appropriately
    watchEffect(() => {
      let mode: "auto" | boolean | undefined = settings.value && settings.value.darkTheme;
      if (mode === undefined) {
        // When user logs out, use auto mode
        mode = "auto";
      }
      if (Dark.mode !== mode) {
        Dark.set(mode);
      }
    });
  }
});
</script>
