<template>
  <q-layout view="hHh LpR fFf">
    <q-header
      bordered
      class="q-pa-sm text-color-body"
      :class="{
        'bg-white': !$q.dark.isActive,
        'bg-dark': $q.dark.isActive
      }"
    >
      <div class="row no-wrap items-center">
        <q-toolbar>
          <q-avatar>
            <img src="statics/icons/icon-128x128.png" />
          </q-avatar>
          <q-toolbar-title class="text-weight-medium">
            Preserve
          </q-toolbar-title>

          <q-space />
        </q-toolbar>
      </div>
    </q-header>

    <q-page-container :class="{ 'bg-dark': $q.dark.isActive }">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: "LoginLayout"
};
</script>

<style scoped></style>
