<template>
  <q-layout view="hHh LpR fFf">
    <q-header
      :bordered="$q.screen.gt.xs"
      class="q-pa-sm text-color-body"
      :class="{
        'bg-white': !$q.dark.isActive,
        'bg-dark': $q.dark.isActive,
        'bg-transparent': $q.screen.lt.sm
      }"
      :reveal="$q.screen.lt.sm"
    >
      <div class="row no-wrap items-center">
        <!-- Mobile NAV -->
        <div v-if="$q.screen.lt.sm" class="col-xs-12 q-px-sm">
          <q-input
            v-model="text"
            borderless
            placeholder="Search your notes"
            clear-icon="close"
            input-class="text-color-body"
            class="q-px-sm shadow-6"
            :class="{
              'bg-grey-9': $q.dark.isActive,
              'bg-white': !$q.dark.isActive
            }"
          >
            <template v-slot:prepend>
              <q-btn
                flat
                round
                icon="menu"
                aria-label="Menu"
                @click.stop="leftDrawerOpen = !leftDrawerOpen"
              />
            </template>
            <template v-slot:append>
              <q-btn
                flat
                round
                :icon="settings.displayGrid ? 'o_view_agenda' : 'o_widgets'"
                aria-label="List View"
                @click.stop="toggleDisplay()"
              >
                <q-tooltip>
                  {{ settings.displayGrid ? "List" : "Grid" }} View
                </q-tooltip>
              </q-btn>
              <q-btn v-if="user" flat round aria-label="Profile" @click.stop>
                <q-avatar size="36px">
                  <img :src="user.avatar" />
                </q-avatar>
                <q-tooltip>Profile</q-tooltip>
                <q-popup-proxy>
                  <ProfileCard :user="user" />
                </q-popup-proxy>
              </q-btn>
            </template>
          </q-input>
        </div>

        <template v-else>
          <q-toolbar class="col-sm-2 col-md-3">
            <q-btn
              flat
              round
              icon="menu"
              aria-label="Menu"
              @click="leftDrawerOpen = !leftDrawerOpen"
            />

            <template v-if="$q.screen.gt.sm">
              <q-avatar>
                <img src="statics/icons/icon-128x128.png" />
              </q-avatar>
              <q-toolbar-title class="text-weight-medium">
                Preserve
              </q-toolbar-title>
            </template>
          </q-toolbar>

          <div class="col-sm-6 col-md-6 col-xl-4">
            <q-input
              v-model="text"
              borderless
              dense
              filled
              placeholder="Search your notes"
              clearable
              clear-icon="close"
              input-class="text-color-body"
            >
              <template v-slot:prepend>
                <q-icon name="search" class="text-color-body" />
              </template>
            </q-input>
          </div>

          <q-toolbar class="col-sm-4 col-md-3 self-end">
            <q-space />
            <q-btn
              flat
              round
              icon="refresh"
              aria-label="Refresh"
              :disable="!isConnected"
              :loading="isSavePending || !isConnected"
            >
              <q-tooltip>Refresh</q-tooltip>
              <template v-if="!isConnected" v-slot:loading>
                <q-spinner-ball />
              </template>
            </q-btn>
            <q-btn
              v-if="settings"
              flat
              round
              aria-label="List View"
              :icon="settings.displayGrid ? 'o_view_agenda' : 'o_widgets'"
              @click="toggleDisplay()"
            >
              <q-tooltip>
                {{ settings.displayGrid ? "List" : "Grid" }} View
              </q-tooltip>
            </q-btn>

            <q-btn
              v-if="settings"
              flat
              round
              icon="o_settings"
              aria-label="Settings"
            >
              <q-tooltip>Settings</q-tooltip>
              <q-menu>
                <q-list dense style="min-width: 205px">
                  <q-item v-close-popup clickable @click="toggleTheme()">
                    <q-item-section>
                      {{ settings.darkTheme ? "Dis" : "En" }}able dark theme
                    </q-item-section>
                  </q-item>
                  <q-item
                    v-close-popup
                    clickable
                    @click="toggleExpandListInPreview()"
                  >
                    <q-item-section>
                      {{
                        settings.allowExpandChecklistInPreview ? "Dis" : "En"
                      }}able expanding previews
                    </q-item-section>
                  </q-item>
                  <q-item v-close-popup clickable @click="toggleGeotagNotes()">
                    <q-item-section>
                      {{ settings.geotagNotes ? "Dis" : "En" }}able geotagging
                      notes
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-menu>
            </q-btn>
            <q-btn v-if="user" flat round aria-label="Profile">
              <q-avatar size="36px">
                <img :src="user.avatar" />
              </q-avatar>
              <q-tooltip>Profile</q-tooltip>

              <q-popup-proxy anchor="bottom left" self="top left">
                <ProfileCard :user="user" />
              </q-popup-proxy>
            </q-btn>
          </q-toolbar>
        </template>
      </div>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above class="text-weight-medium">
      <q-toolbar v-if="$q.screen.lt.md" class="q-py-md">
        <q-avatar>
          <img src="statics/icons/icon-128x128.png" />
        </q-avatar>
        <q-toolbar-title class="text-weight-medium">
          Preserve
        </q-toolbar-title>
      </q-toolbar>
      <q-list>
        <q-item clickable to="/home" exact>
          <q-item-section avatar>
            <q-icon name="o_emoji_objects" size="sm" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Notes</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable :to="{ name: 'Timeline' }" exact>
          <q-item-section avatar>
            <q-icon name="o_format_list_bulleted" size="sm" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Timeline</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable to="reminders" exact>
          <q-item-section avatar>
            <q-icon name="o_notifications" size="sm" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Reminders</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
      <q-separator />
      <q-list>
        <q-item-label header class="text-caption text-color-caption">
          LABELS
        </q-item-label>

        <q-item clickable>
          <q-item-section avatar>
            <q-icon name="o_create" size="sm" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Edit labels</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
      <q-separator />
      <q-list>
        <q-item clickable to="/archive" exact>
          <q-item-section avatar>
            <q-icon name="o_archive" size="sm" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Archive</q-item-label>
          </q-item-section>
        </q-item>

        <q-item clickable to="trash" exact>
          <q-item-section avatar>
            <q-icon name="o_delete" size="sm" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Trash</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
      <template v-if="$q.screen.xs && settings">
        <q-separator />
        <q-list>
          <q-item clickable exact @click="showSettingsDialog = true">
            <q-item-section avatar>
              <q-icon name="o_settings" size="sm" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Settings</q-item-label>
            </q-item-section>

            <q-dialog v-model="showSettingsDialog" maximized>
              <q-card>
                <mobile-dialog-layout title="Settings">
                  <q-list>
                    <q-item-label header>Appearance</q-item-label>
                    <q-item v-ripple tag="label">
                      <q-item-section>
                        <q-item-label>Dark theme</q-item-label>
                      </q-item-section>
                      <q-item-section avatar>
                        <q-toggle
                          :value="settings.darkTheme"
                          @input="toggleTheme()"
                        />
                      </q-item-section>
                    </q-item>
                    <q-item v-ripple tag="label">
                      <q-item-section>
                        <q-item-label>Grid layout</q-item-label>
                      </q-item-section>
                      <q-item-section avatar>
                        <q-toggle
                          :value="settings.displayGrid"
                          @input="toggleDisplay()"
                        />
                      </q-item-section>
                    </q-item>
                    <q-item v-ripple tag="label">
                      <q-item-section>
                        <q-item-label>Expand checklist in preview</q-item-label>
                      </q-item-section>
                      <q-item-section avatar>
                        <q-toggle
                          :value="settings.allowExpandChecklistInPreview"
                          @input="toggleExpandListInPreview()"
                        />
                      </q-item-section>
                    </q-item>
                    <q-item-label header class="q-mt-md">Features</q-item-label>
                    <q-item v-ripple tag="label">
                      <q-item-section>
                        <q-item-label>Geotag notes</q-item-label>
                        <q-item-label caption>{{
                          obtainingPosition
                            ? "Requesting location permssion..."
                            : "Requires location permisssion"
                        }}</q-item-label>
                      </q-item-section>
                      <q-item-section avatar>
                        <q-spinner-ball
                          v-if="obtainingPosition"
                          color="color-caption"
                          size="lg"
                        />
                        <q-toggle
                          v-else
                          :value="settings.geotagNotes"
                          @input="toggleGeotagNotes()"
                        />
                      </q-item-section>
                    </q-item>
                  </q-list>
                </mobile-dialog-layout>
              </q-card>
            </q-dialog>
          </q-item>
        </q-list>
      </template>
    </q-drawer>

    <q-page-container :class="{ 'bg-dark': $q.dark.isActive }">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import ProfileCard from "components/ProfileCard.vue";
import useUser from "composables/use-user";
import MobileDialogLayout from "layouts/MobileDialogLayout.vue";

export default {
  name: "MainLayout",
  components: { MobileDialogLayout, ProfileCard },
  data() {
    return {
      leftDrawerOpen: false,
      showSettingsDialog: false,
      text: ""
    };
  },
  computed: {
    isConnected() {
      return this.$store.getters["global/connected"];
    },
    isSavePending() {
      return (
        this.$store.getters["notes/getSavePending"] ||
        this.$store.getters["list-entries/getSavePending"] ||
        this.$store.getters["user-settings/getSavePending"]
      );
    }
  },
  setup() {
    return {
      // User
      ...useUser()
    };
  }
};
</script>

<style scoped lang="scss">
.q-drawer .q-list {
  margin-top: 8px;
  margin-bottom: 8px;
}

.q-drawer .q-item {
  margin-right: 12px;
  border-radius: 0 25px 25px 0;
}

.body--light {
  .q-item {
    color: $text-body;
  }

  .q-drawer .q-item.q-router-link--active {
    color: var(--q-color-primary);
    background: rgba($primary, 0.2);
  }
}

.body--dark {
  .q-item {
    color: $text-body-dark;
  }
  .q-drawer .q-item.q-router-link--active {
    background: rgba($primary, 0.8);
  }
}
</style>
