<template>
  <q-layout
    view="Lhh lpR fff"
    container
    @scroll="
      e => {
        scrollPosition = e.position;
        $emit('scroll', e);
      }
    "
    @scroll-height="scrollHeight = $event"
  >
    <q-header
      :class="{
        [`bg-keep-${color}`]: color !== '',
        'bg-dark': $q.dark.isActive && color === '',
        'bg-white': !$q.dark.isActive && color === '',
        'bg-transparent': transparent,
        'text-color-caption': true
      }"
      class="q-py-xs"
      :elevated="headerElevated || scrollPosition > 0"
    >
      <q-toolbar>
        <q-btn
          v-if="!noBack"
          v-close-popup
          flat
          round
          dense
          size="12px"
          icon="arrow_back"
        />
        <q-toolbar-title v-if="title" class="text-subtitle">
          {{ title }}
        </q-toolbar-title>
        <q-space />
        <slot name="header-actions" />
      </q-toolbar>
    </q-header>

    <q-page-container>
      <q-page :padding="padding" @click="$emit('pageclick', $event)">
        <slot />
      </q-page>
    </q-page-container>

    <q-footer
      :class="{
        [`bg-keep-${color}`]: color !== '',
        'bg-dark': $q.dark.isActive && color === '',
        'bg-white': !$q.dark.isActive && color === '',
        'bg-transparent': transparent,
        'text-color-caption': true
      }"
      :elevated="footerElevated || scrollPositionFromBottom > 1"
    >
      <slot name="footer" />
      <q-toolbar>
        <slot name="footer-actions" />
      </q-toolbar>
    </q-footer>
  </q-layout>
</template>

<script>
export default {
  props: {
    color: {
      type: String,
      default: ""
    },
    footerElevated: {
      type: Boolean,
      default: false
    },
    headerElevated: {
      type: Boolean,
      default: false
    },
    noBack: {
      type: Boolean,
      default: false
    },
    padding: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ""
    },
    transparent: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      scrollHeight: 0,
      scrollPosition: 0
    };
  },
  computed: {
    scrollPositionFromBottom() {
      return this.scrollHeight - this.$q.screen.height - this.scrollPosition;
    }
  }
};
</script>

<style>
</style>